body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

section {
    display: flex;
}

.first-page {
    width: 50%;
    padding: 2%;
}


.first-page img {
    width: 80%;
}

.anchor-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}